<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NombreAplicacion" value="Tactica Reparaciones"/>
    <add key="Version" value="1.0.1"/>
    
    <!--Colores-->
    <add key="Primary50" value="#f2f6f8"/>
    <add key="Primary100" value="#e6edf0"/>
    <add key="Primary200" value="#bfd1db"/>
    <add key="Primary300" value="#99b5c5"/>
    <add key="Primary400" value="#4d7e99"/>
    <add key="Primary500" value="#00476D"/>
    <add key="Primary600" value="#004062"/>
    <add key="Primary700" value="#003552"/>
    <add key="Primary800" value="#002b41"/>
    <add key="Primary900" value="#002335"/>

    <add key="Secondary50" value="#fefefe"/>
    <add key="Secondary100" value="#fdfdfd"/>
    <add key="Secondary200" value="#f9f9f9"/>
    <add key="Secondary300" value="#f5f5f5"/>
    <add key="Secondary400" value="#eeeeee"/>
    <add key="Secondary500" value="#e7e7e7"/>
    <add key="Secondary600" value="#d0d0d0"/>
    <add key="Secondary700" value="#adadad"/>
    <add key="Secondary800" value="#8b8b8b"/>
    <add key="Secondary900" value="#717171"/>
  </appSettings>
</configuration>